stages:
  - signoff
  - build-env
  - test
  - release

variables:
  BUILD_ENV_IMAGE: $CI_REGISTRY/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME:build-environment
  NDK_DIR: /opt/android-sdk-linux_x86/android-ndk-$NDK_VERSION
  NDK_IMAGE: $CI_REGISTRY/$CI_PROJECT_NAMESPACE/build-images:openconnect-cli-android-$NDK_VERSION
  NDK_VERSION: r27c

workflow:
  auto_cancel:
    on_new_commit: interruptible
  rules:
    - if: $CI_PIPELINE_SOURCE != "push"
      when: never
      # 0000 is default CI_COMMIT_BEFORE_SHA for a new branch
    - if: $CI_COMMIT_TAG == null || $CI_COMMIT_BEFORE_SHA != "0000000000000000000000000000000000000000"
      changes:
      - external/**/*
      variables:
        EXTERNAL_CHANGED: true
    - when: always


.base:
  tags: [saas-linux-small-amd64]

.base_build_env:
  extends: .base
  image: $NDK_IMAGE
  stage: build-env
  rules:
    - if: $EXTERNAL_CHANGED
      when: on_success
    - when: never

.base_runner:
  extends: .base
  stage: test
  variables:
    GRADLE_USER_HOME: $CI_PROJECT_DIR/.gradle_home
  image: $BUILD_ENV_IMAGE
  needs: []
  before_script: [cp -r /prebuilt/app .]
  rules:
    - if: $EXTERNAL_CHANGED
      when: on_success
      needs:
        - job: build-env/environment-container
          artifacts: false
    - when: always
  cache:
    key: build-cache
    paths: [app/build, .gradle_home]

.base_report_runner:
  extends: .base_runner
  artifacts:
    when: on_failure
    paths:
      - app/build/reports


Signoff:
  stage: signoff
  script:
  # Quoted to work around https://gitlab.com/gitlab-org/gitlab-foss/-/issues/20177
  - 'echo "Checking for new commits without Signed-off-by: tags as described in https://gitlab.com/openconnect/ics-openconnect/-/blob/master/CONTRIBUTING.md"'
  # Last bad commit
  - 'git log 4d935fd3231543b48ea10acaaf16ded58634bb3f.. --grep "(^Signed-off-by)|(^Merge branch)|(^This reverts commit)" --extended-regexp --invert-grep --exit-code'
  - echo "None (good)"

build-env/external-libraries:
  extends: .base_build_env
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  script:
    - >-
      make -C external install-$TARGET NDK=$NDK_DIR &&
      mkdir -p artifacts &&
      cp -rf --parents
      app/src/main/assets/raw/{armeabi,arm64-v8a,x86,x86_64}
      app/src/main/jniLibs/{armeabi,arm64-v8a,x86,x86_64}
      app/libs/{openconnect,stoken}-wrapper.jar artifacts || :
  artifacts:
    expire_in: 1 hour
    paths: [artifacts]
  parallel:
    matrix:
      - TARGET:
        - arch-arm
        - arch-arm64
        - arch-x86
        - arch-x86_64
        - jar-openconnect-wrapper.jar install-jar-stoken-wrapper.jar

build-env/environment-container:
  extends: .base_build_env
  needs: [build-env/external-libraries]
  script:
    - |
      dnf install -y podman && dnf clean all
      ./misc/build-environment.sh $BUILD_ENV_IMAGE

test/build-debug:
  extends: .base_runner
  script:
    - |
      ./gradlew assembleDebug --no-daemon --build-cache -s
      mv ./app/build/outputs/apk/debug/app-debug.apk OpenConnect.debug.apk
  artifacts:
    paths:
      - ./OpenConnect.debug.apk

test/lint:
  extends: .base_report_runner
  allow_failure: true
  script:
    - ./gradlew lint --no-daemon --build-cache -s

test/test:
  extends: .base_report_runner
  script:
    - ./gradlew test --no-daemon --build-cache -s

release/create-release:
  extends: .base
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  needs: [test/build-debug]
  stage: release
  rules:
    - if: $CI_COMMIT_TAG
      when: on_success
    - when: never
  artifacts:
    paths: [OpenConnect.debug.apk]
    expire_in: never
  script: [':']
  release:
    tag_name: $CI_COMMIT_TAG
    description: Release $CI_COMMIT_TAG
    assets:
      links:
        - name: OpenConnect.debug.apk
          url: $CI_PROJECT_URL/-/jobs/$CI_JOB_ID/artifacts/raw/OpenConnect.debug.apk
          link_type: package
