stages:
  - signoff
  - build-env
  - test
  - release

variables:
  BUILD_ENV_IMAGE: $CI_REGISTRY/openconnect/ics-openconnect:build-environment
  NDK_IMAGE: $CI_REGISTRY/openconnect/build-images:openconnect-cli-android-$NDK_VERSION
  NDK_DIR: /opt/android-sdk-linux_x86/android-ndk-$NDK_VERSION
  NDK_VERSION: r27c
  APP_NAME: OpenConnect

workflow:
  auto_cancel:
    on_new_commit: interruptible
  rules:
    - if: $CI_COMMIT_TAG != null
      variables:
        RELEASE: true
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_EVENT_TYPE == "merged_result"
      changes:
        paths:
          - external/**/*
          - misc/Dockerfile
        compare_to: $CI_MERGE_REQUEST_SOURCE_BRANCH_SHA
      variables:
        EXTERNAL_CHANGED: true
    - if: $CI_PIPELINE_SOURCE != "merge_request_event"
      changes:
        paths:
          - external/**/*
          - misc/Dockerfile
        compare_to: master
      variables:
        EXTERNAL_CHANGED: true
    - if: $CI_PIPELINE_SOURCE != "push" && $EXTERNAL_CHANGED == null
      when: never
    - when: always

# --- Inheritance ---
.base:
  tags: [saas-linux-small-amd64]

.base_build_env:
  extends: .base
  image: $NDK_IMAGE
  stage: build-env
  rules:
    - if: $EXTERNAL_CHANGED
      when: on_success
    - when: never

.base_runner:
  extends: .base
  stage: test
  variables:
    GRADLE_USER_HOME: $CI_PROJECT_DIR/.gradle_home
  image: $BUILD_ENV_IMAGE
  needs: []
  before_script: [cp -r /prebuilt/app .]
  rules:
    - if: $EXTERNAL_CHANGED
      when: on_success
      needs:
        - job: build-env/environment-container
          artifacts: false
    - if: $RELEASE
      when: never
    - when: on_success
  cache:
    key: build-cache
    paths: [app/build, .gradle_home]

.base_report_runner:
  extends: .base_runner
  artifacts:
    when: on_failure
    paths: [app/build/reports]

.release_rules: &release_rules
  - if: $RELEASE
    when: on_success
  - when: never


# --- Signoff ---
signoff:
  stage: signoff
  script:
  # Quoted to work around https://gitlab.com/gitlab-org/gitlab-foss/-/issues/20177
  - 'echo "Checking for new commits without Signed-off-by: tags as described in https://gitlab.com/openconnect/ics-openconnect/-/blob/master/CONTRIBUTING.md"'
  # Last bad commit
  - 'git log a17d34d0d529a5e59bb22481f858a87b725763d1.. --grep "(^Signed-off-by)|(^Merge branch)|(^This reverts commit)" --extended-regexp --invert-grep --exit-code'
  - echo "None (good)"


# --- Build environment ---
build-env/external-libraries:
  extends: .base_build_env
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  script:
    - >-
      make -C external install-$TARGET NDK=$NDK_DIR &&
      mkdir -p artifacts &&
      cp -rf --parents
      app/src/main/assets/raw/{armeabi,arm64-v8a,x86,x86_64}
      app/src/main/jniLibs/{armeabi,arm64-v8a,x86,x86_64}
      app/libs/{openconnect,stoken}-wrapper.jar artifacts
  artifacts:
    expire_in: 1 hour
    paths: [artifacts]
  parallel:
    matrix:
      - TARGET:
        - arch-arm
        - arch-arm64
        - arch-x86
        - arch-x86_64
        - jar-openconnect-wrapper.jar install-jar-stoken-wrapper.jar

build-env/environment-container:
  extends: .base_build_env
  image: fedora:40
  needs: [build-env/external-libraries]
  script:
    - |
      dnf install -y podman && dnf clean all
      ./misc/build-environment.sh $BUILD_ENV_IMAGE


# --- Tests ---
test/build-debug:
  extends: .base_runner
  script:
    - |
      ./gradlew assembleDebug --no-daemon --build-cache -s
      mv ./app/build/outputs/apk/debug/app-debug.apk OpenConnect.debug.apk
  artifacts:
    paths: [OpenConnect.debug.apk]

test/lint:
  extends: .base_report_runner
  allow_failure: true
  script: [./gradlew lint --no-daemon --build-cache -s]


# --- Release ---
release/build-release:
  extends: .base_runner
  rules: *release_rules
  stage: release
  script:
    - |
      apk_name="app-release-unsigned.apk"
      [ -n "$KEYSTORE" ] && {
        base64 -d <<<"$KEYSTORE" > ./app/oc.jks
        echo "password=$KEYSTORE_PASSWORD" > ./app/release.properties
        echo "path=oc.jks" >> ./app/release.properties
        echo "alias=ics-openconnect" >> ./app/release.properties
        apk_name="app-release.apk"
      }
      ./gradlew assemble bundle --no-daemon --build-cache -s
      mv ./app/build/outputs/apk/release/$apk_name $APP_NAME.apk
      mv ./app/build/outputs/bundle/release/app-release.aab $APP_NAME.aab
  artifacts:
    paths: ['$APP_NAME.{apk,aab}']

release/create-release:
  extends: .base
  stage: release
  rules: *release_rules
  needs: [release/build-release]
  script: [':']
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  artifacts:
    paths: ['$APP_NAME.{apk,aab}']
    expire_in: never
  release:
    name: $CI_COMMIT_TAG
    description: Release $CI_COMMIT_TAG
    tag_name: $CI_COMMIT_TAG
    assets:
      links:
        - name: $APP_NAME.apk
          url: $CI_PROJECT_URL/-/jobs/$CI_JOB_ID/artifacts/raw/$APP_NAME.apk
          link_type: package
        - name: $APP_NAME.aab
          url: $CI_PROJECT_URL/-/jobs/$CI_JOB_ID/artifacts/raw/$APP_NAME.aab
          link_type: package

